#bg-video {
    position: fixed;

    right: 0;
    bottom: 0;

    min-width: 100%;
    min-height: 100%;

    object-fit: cover;

    z-index: -2;
}
body {
    background-image: url("素材.jpg");
background-size: contain;
background-position: center;
background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    overflow: hidden;

   
    color: rgb(255, 255, 255);

    font-family: Arial, sans-serif;
}

.stars {
    position: absolute;
    width: 100%;
    height: 100%;

    background-image: radial-gradient(white 1px, transparent 1px);
    background-size: 50px 50px;

    opacity: 0.5;
}

.page {

    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    opacity: 0;
    transition: opacity 2s;
    z-index: 2;
}

.page.active {
    opacity: 1;
}

h1 {

    font-size: 60px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px black;
}

p {
    font-size: 20px;
    line-height: 1.8;
    text-shadow: 0 0 10px black;
}